<section class="vh-100 bg-image"
    style="background: rgb(142, 194, 243);">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; align-items:center">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">Create an Account</h2>

                            <form action="/signup" method="POST" id="signup">

                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example1cg" placeholder="Name..." class="form-control form-control-lg"
                                        style="border-bottom-color: #71bfe9;" name="name" required pattern="\S(.*\S)?">
                                    {{!-- <label class="form-label" for="form3Example1cg">Your Name</label> --}}
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3cg" placeholder="Email..." class="form-control form-control-lg" name="email" required pattern="\S(.*\S)?">
                                    {{!-- <label class="form-label" for="form3Example3cg" >Your Email</label> --}}
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" placeholder="Password..." class="form-control form-control-lg" name="password" required pattern="\S(.*\S)?">
                                    {{!-- <label class="form-label" for="form3Example4cg" >Password</label> --}}
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4cg" placeholder="Confirm Password..." class="form-control form-control-lg" name="confirmPassword" required pattern="\S(.*\S)?">
                                    {{!-- <label class="form-label" for="form3Example4cg" >Password</label> --}}
                                </div>


                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-primary btn-block btn-lg gradient-custom-3 text-body" style="
    margin-right: 47px;
">Register</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                                        class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>